.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.search-bar button {
    padding: 6px 10px;
    background: rgb(39, 213, 243);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button i {
    font-size: 18px;
}

.search-bar button:hover {
    background: 0f56a2;
    color: white;
}