
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #333;
}
.head{
  display: flex;
  color: rgb(39, 213, 243);
}

h1, h2, h3, h4 {
  color: #333;
}
.rule{
  display: flex;
  padding-left: 100px;
  padding-top: 20px;
  padding-right: 140px;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

#map {
  width: 100%;
  height: 400px;
  margin: 20px auto;
  margin-top: 20px;
  border-radius: 10px;
}
.container h1{
  color: #94d4da;
}
.order{
  padding-top: 100px;
  display: flex;
}


@media (max-width: 768px) {
  .profile-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .admin-panel input {
    width: 100%;
  }

  .search-bar input {
    width: 100%;
  }
}


